---
const buildDate = new Date().toISOString().slice(0, 10);
---
<footer class="footer">
  <div class="left">ii4ki-blog 1.0.0 #astro SMP {buildDate} MIT</div>
  <div class="right">
    <a href="https://github.com/ii4ki" rel="noopener">github</a>
    <a href="/rss.xml">rss</a>
    <a href="mailto:tony@loom.ge">email</a>
  </div>
</footer>
